name: 0.1$(Rev:.r)

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: build
    arguments: "-c Release /p:PackageVersion=$(Build.BuildNumber)"
  displayName: 'Build .NET Core Solution'
  
- task: DotNetCoreCLI@2
  inputs:
    command: test
    arguments: '-c Release'
    nobuild: true
    versioningScheme: byBuildNumber
  displayName: 'Test .NET Core Solution'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/Lindemann.Analyzers/bin/Release/'
    Contents: '*$(Build.BuildNumber).nupkg'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: 'Copy package to staging directory.'

- task: PublishBuildArtifacts@1
  inputs:
    ArtifactName: 'Lindemann.Analyzers'
  displayName: 'Publish Build Artifacts'
